{% extends 'base.html' %}

{% block content %}
<h1>Search Creators</h1>
<!-- <h3>Search Parameters</h3>
<form id="searchCreators">
  <fieldset>
    <legend>Display Creators Matching:</legend>
    <p>
      <input type="checkbox" id="searchFirstName" name="searchBy" value="fname">
      <label for="searchFirstName">First Name:</label>
      <input type="text" id="findFirstName" name=fname>
      <input type="radio" id="fExact" name="fNameMatchType" value="exact">
      <label for="fExact">Exact Match</label>
      <input type="radio" id="fPartial" name="fNameMatchType" value="partial" checked="checked">
      <label for="fPartial">Partial Match (Initial)</label>
    <p>
      <input type="checkbox" id="searchLastName" name="searchBy" value="lname" checked="checked">
      <label for="searchLastName">Last Name:</label>
      <input type="text" id="findLastName" name=fname>
      <input type="radio" id="lExact" name="lNameMatchType" value="exact">
      <label for="fExact">Exact Match</label>
      <input type="radio" id="lPartial" name="lNameMatchType" value="partial" checked="checked">
      <label for="lPartial">Partial Match (Initial)</label>
    </fieldset>
</form>
<h2>Search Results</h2>
<table>
    <thead>
        <th>Creator ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </thead>
    <tbody>
        <td>121</td>
        <td>Stephen</td>
        <td>King</td>
    </tbody>
</table> -->

<!-- <input class="form-control" id="myInput" type="text" placeholder="Search...">
<br>
<h2>Results Display</h2>
<table class="table table-bordered table-striped table-sm" style="font-size: x-small; caption-side: top" id="myTable">
  <caption>Search Results</caption>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Charles</td>
      <td>Dickens</td>
    </tr>
    <tr>
      <td>Mark</td>
      <td>Twain</td>
    </tr>
    <tr>
      <td>Ernest</td>
      <td>Hemingway</td>
    </tr>
    <tr>
      <td>Jane</td>
      <td>Austen</td>
    </tr>
    <tr>
      <td>J.K.</td>
      <td>Rowling</td>
    </tr>
  </tbody>
</table> -->

<form id="search_creators" method="GET" action="{{url_for('view_creators')}}">
  <fieldset>
    <legend>Search Creators by last name</legend>
    <p>
      <label for="searchLastName">Last Name:</label>
      <input type="text" id="findLastName" name="lname" value={% if request.args.get('lname') == None %} "" {% else %} "{{request.args.get('lname')}}" {% endif %}>
      <input type="radio" id="lExact" name="lNameMatchType" value="exact" {% if request.args.get('lNameMatchType') == "exact"  %}checked="checked"{% endif %}>
      <label for="fExact">Exact Match</label>
      <input type="radio" id="lPartial" name="lNameMatchType" value="partial" {% if request.args.get('lNameMatchType') == None or request.args.get('lNameMatchType') == "partial"  %}checked="checked"{% endif %}>
      <label for="lPartial">Partial Match</label>
    <p>
      <input type="submit" id="findCreator" value="Find Creator(s)">
  </fieldset>
</form>

<table class="table table-bordered table-striped table-sm" style="font-size: x-small; caption-side: top;">
  <caption>Search Results</caption>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>
  <tbody id="creatorTable">
    {% for creator in creators %}
    <tr>
      <td>{{creator['first_name']}}</td>
      <td>{{creator['last_name']}}</td>
    {% endfor %}
  </tbody>
</table>

<!-- Citation for the following function:
     Date: 2021-02-06
     Copied from /OR/ Adapted from /OR/ Based on:
     Source URL: https://www.w3schools.com/bootstrap/bootstrap_filters.asp -->
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}
