{% extends 'base.html' %}

{% block content %}
<h2>Add New Borrower</h2>
<form id="newBorrowerForm" method="post" action="{{url_for('add_borrowers')}}">
  <fieldset>
    <legend>New Borrower Information</legend>
    <p>
      <label for="newFirstName">First Name:</label>
      <input type="text" id="newFirstName" name=fname value="{{borrower['fname']}}">
    <p>
      <label for="newLastName">Last Name:</label>
      <input type="text" id="newLastName" name=lname value="{{borrower['lname']}}">
    <p>
      <label for="newEmailAddr">Email address:</label>
      <input type="email" id="newEmailAddr" name=emailAddr
      value="{{borrower['email']}}">
    <p>
      <label for="newStreetAddr">Street address:</label>
      <input type="text" id="newStreetAddr" name=streetAddr
      value="{{borrower['saddr']}}">
    <p>
      <label for="newCityName">City:</label>
      <input type="text" id="newCityName" name=cityName value="{{borrower['city']}}">
      <label for="newState">State:</label>
      <select id="newState" name="stateAbbrev">
        {% for state in states %}
        <option value="{{state}}" {{"selected" if borrower['state']==state}}>{{states[state]}}</option>
        {% endfor %}
      </select>
      <label for="newZipCode">Zip Code:</label>
      <input type="text" placeholder="Zip Code" id="newZipCode" pattern="^\s*?\d{5}(?:[-\s]\d{4})?\s*?$" name="zipCode" value="{{borrower['zip']}}">
    <p>
      <input type="submit" id="addBorrower" value="Add Borrower">
  </fieldset>
</form>
{% if success == "added" %}
<p>
  Successfully added Borrower {{message['fname']}} {{message['lname']}} with id {{message['id']}}.
</p>
{% elif success == "error" %}
<p>
  Error adding Borrower.
</p>
{% endif %}
{% endblock %}
