{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      {% if current is none %}
      <h1>No Borrower Selected</h1>
      {% else %}
      <h1>Modify Borrower</h1>
      <h2 id="currentBorrower">{{current['first_name']}} {{current['last_name']}}</h2>
      <form id="updateBorrowerForm">
        <fieldset>
          <legend>Borrower Information</legend>
            <input type ="hidden" name="borrower_id" value="{{current['borrower_id']}}"
          <p>
            <label for="last_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" value="{{current['first_name']}}">
          <p>
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" value="{{current['last_name']}}">
          <p>
            <label for="email">Email address:</label>
            <input type="email" id="email" name="email" value="{{current['email']}}">
          <p>
            <label for="street_address">Street address:</label>
            <input type="text" id="street_address" name="street_address" value="{{current['street_address']}}">
          <p>
            <label for="city_name">City:</label>
            <input type="text" id="city_name" name="city_name" value="{{current['city_name']}}">
            <label for="state">State:</label>
            <select id="state" name="state">
              {% for state in states %}
              <option value="{{state}}" {{"selected" if current['state']==state}}>{{states[state]}}</option>
              {% endfor %}
            </select>
            <label for="zip_code">Zip Code:</label>
            <input type="text" id="zip_code" pattern="^\s*?\d{5}(?:[-\s]\d{4})?\s*?$" name="zip_code" value="{{current['zip_code']}}">
          <p>
            <input type="submit" id="updateBorrower" value="Update">
        </fieldset>
      </form>
      {% endif %}
    </div>
    <div class="col">
      <h1>Switch Borrower</h1>
      <form method="GET" action="{{url_for('update_borrowers')}}" id="form_switch_borrower">
        <fieldset>
          <legend>Select New Borrower</legend>
          <p>
            <select name="id">
              {% for borrower in borrowers %}
              <option id="optionBorrower{{borrower['borrower_id']}}" value="{{borrower['borrower_id']}}" {{"selected" if borrower['borrower_id'] == current['borrower_id']}}>{{borrower['first_name']}} {{borrower['last_name']}}</option>
              {% endfor %}
            </select>
          <p>
            <input type="submit" id="switchBorrower" value="Switch Borrower">
        </fieldset>
      </form>
    </div>
  </div>
</div>
<script>
  var thisPage='{{url_for["update_borrowers"]}}'
</script>
<script src="{{url_for('static', filename='update_borrowers.js')}}">
  var empty = [];
</script>
{% endblock %}
