{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      {% if current is none %}
      <h2>No Borrower Selected</h2>
      {% else %}
      <h2>Modify Borrower {{current['first_name']}} {{current['last_name']}}</h2>
      <form id="updateBorrowerForm">
        <fieldset>
          <legend>Borrower Information</legend>
            <input type ="hidden" name="id" value="{{current['borrower_id']}}"
          <p>
            <label for="newFirstName">First Name:</label>
            <input type="text" id="newFirstName" name="fname" value="{{current['first_name']}}">
          <p>
            <label for="newLastName">Last Name:</label>
            <input type="text" id="newLastName" name="lname" value="{{current['last_name']}}">
          <p>
            <label for="newEmailAddr">Email address:</label>
            <input type="email" id="newEmailAddr" name="emailAddr" value="current['email']">
          <p>
            <label for="newStreetAddr">Street address:</label>
            <input type="text" id="newStreetAddr" name="streetAddr" value="{{current['street_address']}}">
          <p>
            <label for="newCityName">City:</label>
            <input type="text" id="newCityName" name="cityName" value="{{current['city_name']}}">
            <label for="newState">State:</label>
            <select id="newState" name="stateAbbrev">
              {% for state in states %}
              <option value="{{state}}" {{"selected" if current['state']==state}}>{{states[state]}}</option>
              {% endfor %}
            </select>
            <label for="newZipCode">Zip Code:</label>
            <input type="text" placeholder="Zip Code" id="newZipCode" pattern="^\s*?\d{5}(?:[-\s]\d{4})?\s*?$" name="zipCode" value="{{current['zip_code']}}">
          <p>
            <input type="submit" id="updateBorrower" value="Update">
        </fieldset>
      </form>
      {% endif %}
    </div>
    <div class="col">
      <h2>Switch Borrower</h2>
      <form method="GET" action="{{url_for('update_borrowers')}}" id="form_switch_borrower">
        <fieldset>
          <legend>Select New Borrower</legend>
          <p>
            <select name="id">
              {% for borrower in borrowers %}
              <option value="{{borrower['borrower_id']}}" {{"selected" if borrower['borrower_id'] == current['borrower_id']}}>{{borrower['first_name']}} {{borrower['last_name']}}</option>
              {% endfor %}
            </select>
          <p>
            <input type="submit" id="switchBorrower" value="Switch Borrower">
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}
