{% extends 'base.html' %}

{% block content %}
<h2>View Borrowers<h2>

<div class='container'>
  <p>Filter Borrower List based on any field:</p>
    <input class="form-control" id="myInput" type="text" placeholder="Search...">
    <br>
    <table class="table table-bordered table-striped table-sm" style="font-size: x-small">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Zip Code</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          <td>123 Anystreet</td>
          <td>Sometown</td>
          <td>OR</td>
          <td>98765</td>
          <td>
            <form method="get" action="{{url_for('update_borrowers')}}">
              <input type="hidden" value="1" id="1" name="id">
              <input type="submit" name="update" value="Update">
            </form>
          </td>
          <td>
            <form method="get" action="{{url_for('view_checkouts')}}">
              <input type="hidden" value="1" id="1" name="id">
              <input type="submit" name="checkouts" value="View Checkouts">
            </form>
          </td>
          <td>
            <form method="get" action="{{url_for('delete_borrower')}}">
              <input type="hidden" value="1" id="1" name="id">
              <input type="submit" name="delete" value="Delete">
            </form>
          </td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@mail.com</td>
          <td>567 Anystreet</td>
          <td>Sometown</td>
          <td>OR</td>
          <td>98765</td>
          <td>
            <form method="get" action="{{url_for('update_borrowers')}}">
              <input type="hidden" value="1" id="1" name="id">
              <input type="submit" name="update" value="Update">
            </form>
          </td>
          <td>
            <form method="get" action="{{url_for('view_checkouts')}}">
              <input type="hidden" value="1" id="1" name="id">
              <input type="submit" name="checkouts" value="View Checkouts">
            </form>
          </td>
          <td>
            <form method="get" action="{{url_for('delete_borrower')}}">
              <input type="hidden" value="1" id="1" name="id">
              <input type="submit" name="delete" value="Delete">
            </form>
          </td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@greatstuff.com</td>
          <td>123 Avenue A</td>
          <td>Sometown</td>
          <td>OR</td>
          <td>98765</td>
          <td>
            <form method="get" action="{{url_for('update_borrowers')}}">
              <input type="hidden" value="1" id="1" name="id">
              <input type="submit" name="update" value="Update">
            </form>
          </td>
          <td>
            <form method="get" action="{{url_for('view_checkouts')}}">
              <input type="hidden" value="1" id="1" name="id">
              <input type="submit" name="checkouts" value="View Checkouts">
            </form>
          </td>
          <td>
            <form method="get" action="{{url_for('delete_borrower')}}">
              <input type="hidden" value="1" id="1" name="id">
              <input type="submit" name="delete" value="Delete">
            </form>
          </td>
        </tr>
        <tr>
          <td>Anja</td>
          <td>Ravendale</td>
          <td>a_r@test.com</td>
          <td>123 South Dr.</td>
          <td>Sometown</td>
          <td>OR</td>
          <td>98765</td>
          <td>
            <form method="get" action="{{url_for('update_borrowers')}}">
              <input type="hidden" value="1" id="1" name="id">
              <input type="submit" name="update" value="Update">
            </form>
          </td>
          <td>
            <form method="get" action="{{url_for('view_checkouts')}}">
              <input type="hidden" value="1" id="1" name="id">
              <input type="submit" name="checkouts" value="View Checkouts">
            </form>
          </td>
          <td>
            <form method="get" action="{{url_for('delete_borrower')}}">
              <input type="hidden" value="1" id="1" name="id">
              <input type="submit" name="delete" value="Delete">
            </form>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

<!-- Citation for the following function:
     Date: 2021-02-06
     Copied from /OR/ Adapted from /OR/ Based on:
     Source URL: https://www.w3schools.com/bootstrap/bootstrap_filters.asp -->
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock %}
