{% extends 'base.html' %}

{% block content %}
<h2>View Borrowers<h2>

<h3>Search Parameters</h3>
<form id="borrower_search_form" method="get" action="{{url_for('view_borrowers')}}">
  <fieldset>
    <legend>Display Borrowers Matching</legend>
    <!--<p>
      <input type="checkbox" id="searchFirstName" name="searchBy" value="fname">
      <label for="searchFirstName">First Name:</label>
      <input type="text" id="findFirstName" name=fname>
      <input type="radio" id="fExact" name="fNameMatchType" value="exact">
      <label for="fExact">Exact Match</label>
      <input type="radio" id="fPartial" name="fNameMatchType" value="partial" checked="checked">
      <label for="fPartial">Partial Match (Initial)</label>-->
    <p>
      <input type="hidden" id="displayType" name="view" value="filter">
      <input type="radio" id="searchLastName" name="searchBy" value="lname" {% if request.args.get('searchBy') == None or  request.args.get('searchBy') == 'lname' %}checked="checked"{% endif %}>
      <label for="searchLastName">Last Name:</label>
      <input type="text" id="findLastName" name=lname value={% if request.args.get('lname') == None %}""{% else %}"{{request.args.get('lname')}}" {% endif %}>
      <input type="radio" id="lExact" name="lNameMatchType" value="exact" {% if request.args.get('lNameMatchType') == "exact"  %}checked="checked"{% endif %}>
      <label for="fExact">Exact Match</label>
      <input type="radio" id="lPartial" name="lNameMatchType" value="partial" {% if request.args.get('lNameMatchType') == None or request.args.get('lNameMatchType') == "partial"  %}checked="checked"{% endif %}>
      <label for="lPartial">Partial Match</label>
    <!--<p>
      <input type="checkbox" id="searchLastName" name="searchBy" value="zip">
      <label for="searchZipCode">Zip Code:</label>
      <input type="text" pattern="^\s*?\d{5}(?:[-\s]\d{4})?\s*?$" id="findZipCode" name=zip>-->
    <p>
      <input type="radio" id="searchId" name="searchBy" value="idNum" {% if request.args.get('searchBy') == 'idNum' %}checked="checked"{% endif %}>
      <label for="searchId">Borrower Number:</label>
      <input type="number" id="findId" name=idNum value={{request.args.get('idNum')}}>
    <p>
      <input type="submit" id="findBorrower" value="Find Borrower(s)">
  </fieldset>
</form>
<!--<p>Filter Borrower List based on any field:</p>
  <input class="form-control" id="myInput" type="text" placeholder="Search...">
  <br>-->
<table class="table table-bordered table-striped table-sm" style="font-size: x-small">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
    </tr>
  </thead>
  <tbody id="myTable">
    <!--iterate through the borrowers-->
    {% for borrower in borrowers %}
    <tr>
      <td>{{borrower['first_name']}}</td>
      <td>{{borrower['last_name'] }}</td>
      <td>{{borrower['email']}}</td>
      <td>{{borrower['street_address']}}</td>
      <td>{{borrower['city_name']}}</td>
      <td>{{borrower['state']}}</td>
      <td>{{borrower['zip_code']}}</td>
      <td>
        <form method="get" action="{{url_for('update_borrowers')}}">
          <input type="hidden" value="{{borrower['borrower_id']}}" id="{{borrower['borrower_id']}}" name="id">
          <input type="submit" value="Update">
        </form>
      </td>
      <td>
        <form method="get" action="{{url_for('view_checkouts')}}">
          <input type="hidden" value="{{borrower['borrower_id']}}" id="{{borrower['borrower_id']}}" name="id">
          <input type="submit" value="View Checkouts">
        </form>
      </td>
      <td>
        <form method="get" action="{{url_for('add_checkouts')}}">
          <input type="hidden" value="{{borrower['borrower_id']}}" id="{{borrower['borrower_id']}}" name="id">
          <input type="submit" value="Add Checkouts">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>



<!-- Citation for the following function:
     Date: 2021-02-06
     Copied from /OR/ Adapted from /OR/ Based on:
     Source URL: https://www.w3schools.com/bootstrap/bootstrap_filters.asp -->
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock %}
