{% extends 'base.html' %}

{% block content %}
<h2>View Checkouts for Borrower</h2>
<h3>Borrower Search</h3>
<form id="view_checkouts">
  <fieldset>
    <legend>Diplay Checkouts for Borrower:</legend>
    <p>
      <label for="searchId">Borrower Number:</label>
      <input type="number" id="findId" name=idNum>
      <input type="checkbox" id="overdue" name="overdue_only" value="overdue_only">
      <label for="overdue">Show Overdue Items only</label>
    <p>
      <input type="submit" id="findBorrower" value="Show Checkouts">
  <fieldset>
</form>
<h3>Results Display</h3>
<table>
  <caption>Jane Doe</caption>
  <thead>
    <tr>
      <th>Title</th>
      <th>Item Id</th>
      <th>Due Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Three Body Problem</td>
      <td>22</td>
      <td>2021-01-15</td>
    </tr>
  </tbody>
</table>
{% endblock %}
