{% extends 'base.html' %}

{% block content %}
<h2>Search Titles by Subject</h2>
<form id="sortBySubject">
    <fieldset>
        <legend>Select a Subject: </legend>
        <p>
            <select name="subjectId" id="selectSubject">
                {% for subject in subjects %}
                <option value="{{subject['subject_id']}}" {{"selected" if selected == subject['subject_id']}}>
                  {{subject['subject_heading']}}</option>
                {% endfor %}
              </select>
        <p>
            <input type="submit" id="submitSubjectSelect" value="Select">
    </fieldset>
</form>
<h2>Search Titles</h2>
<input class="form-control" id="myInput" type="text" placeholder="Search...">
<br>
<h2>Results Display</h2>
<table class="table table-bordered table-striped table-sm" style="font-size: x-small; caption-side: top" id="myTable">
  <caption>Search Results</caption>
  <thead>
    <tr>
      <th>Title</th>
      <th>Language</th>
      <th>Publication Year</th>
    </tr>
  </thead>
  <tbody id="subjectTitles">
    {% for title in titles %}
    <tr>
      <td>{{title['title_text']}}</td>
      <td>{{title['language']}}</td>
      <td>{{title['publication_year']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Citation for the following function:
     Date: 2021-02-06
     Copied from /OR/ Adapted from /OR/ Based on:
     Source URL: https://www.w3schools.com/bootstrap/bootstrap_filters.asp -->
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<script src="{{url_for('static', filename='view_subjects.js')}}"></script>
{% endblock %}
