{% extends 'base.html' %}

{% block content %}
<h2>Add New Title/Subject Relationship</h2>
<form id="newTitleSubject">
  <fieldset>
    <legend>New Title_Subjects Relationship</legend>
    <p>
        <label for="newTitleSubjectsTitle">Title ID: </label>
        <input type="text" id="newTitleCreatorFirstName" name=title_creator_title>
    <p>
        <label for="newTitleSubjectsSubject">Subject ID:</label>
        <input type="text" id="newTitleCreatorLastName" name=title_creator_creator>
    <p>
        <input type="submit" id="addTitleSubject" value="Add Relationship">
  </fieldset>
</form>

{% endblock %}