{% extends 'base.html' %}

{% block content %}
<h2>Search Existing Title_Subjects Relationships</h2>
<form id="searchTitleSubjects">
  <fieldset>
    <legend>Search By ID</legend>
    <p>
        <label for="searchTitleSubjectTitleID">Title ID: </label>
        <input type="text" id="searchTitleSubjectTitleID" name=title_subject_titleID>
    <p>
        <label for="searchTitleSubjectSubjectID">Subject ID:</label>
        <input type="text" id="searchTitleSubjectSubjectID" name=title_subject_subjectID>
    <p>
        <input type="submit" id="searchTitleSubjectsButton" value="Search">
  </fieldset>
</form>
<h2>Search Results</h2>
<table>
    <thead>
        <tr>
            <th>Title ID</th>
            <th>Subject ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>123</td>
            <td>456</td>
            <td>
                <button class="updateRelationship">Update</button>
            </td>
            <td>
                <button class="deleteRelationship">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}