{% extends 'base.html' %}

{% block content %}
    <h1>Borrowers</h1>
    <ul>
        <li>Table view</li>
            <ul>
                <li>pagination? dump all entries on same page? 2500 patrons might be a lot for one page</li>
            </ul>
        <li>INSERT functionality</li>
        <li>DELETE functionality</li>
            <ul>
                <li>search? is this necessary to find a borrower that needs to be removed from database?</li>
            </ul>
    </ul>
{% endblock %}
