{% extends 'base.html' %}

{% block content %}
    <h1>Borrowers</h1>
    <dl>
      <dt><a href="{{url_for('add_borrowers')}}">Add Borrowers</a></dt>
      <dd>Page for manipulating the Borrowers table. Allows adding a new entry to Borrowers via a form.
      <dt><a href="{{url_for('view_borrowers')}}">View/Modify Borrowers</a></dt>
      <dd>Allows displaying existing Borrowers in the system. The display of existing Borrowers can be searched/filtered by last_name, first_name, zip_code, and/or borrower_id. Displayed Borrowers can be updated or deleted.</dd>
      <dt><a href="{{url_for('view_borrower_checkouts')}}">View Borrower Checkouts</a></dt>
      <dd>Displays the items checked out by a Borrower. Can be filtered to show only overdue items</dd>
    </dl>


{% endblock %}
