{% extends 'base.html' %}

{% block content %}
<h1>Items</h1>
  <h2>Checkouts</h2>
  <div class="container">
    <div class="row">
      <form id="return_item" class="col">
        <fieldset>
          <legend>Return Item</legend>
          <p>
            <label for="return_id">Item Number:</label>
            <input type="number" id="return_id" name="id_num">
          <p>
            <input type="submit" id="submit_return" value="Return Item">
        </fieldset>
      </form>
      <form id="checkout_item" class="col">
        <fieldset>
          <legend>Check Out Item</legend>
          <p>
            <label for="item_id">Item Number:</label>
            <input type="number" id="item_id" name="item_id_num">
            <p>
              <label for="borrower_id">Borrower Number:</label>
              <input type="number" id="borrower_id" name="borrower_id_num">
          <p>
            <input type="submit" id="submit_checkout" value="Check Out Item">
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}
