<!--
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
  Items</a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{{url_for('checkout_item')}}">Add</a></li>
    <li><a class="dropdown-item" href="{{url_for('manage_item')}}">View</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{{url_for('items')}}">Items Home</a></li>
  </ul>
</li>-->
<!--
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Relationships</a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="{{url_for('add_title_subjects')}}">Add Title_Subjects</a></li>
    <li><a class="dropdown-item" href="{{url_for('add_title_creators')}}">Add Title_Creators</a></li>
    <li><a class="dropdown-item" href="{{url_for('view_title_subjects')}}">View Title_Subjects</a></li>
          <li><a class="dropdown-item" href="{{url_for('view_title_creators')}}">View Title_Creators</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{{url_for('relationships')}}">Relationships Home</a></li>
  </ul>
</li> -->
<!--
<dl>
  <dt><a href="{{url_for('relationships')}}">Relationships Home</a></dt>
  <dd>Subpage to provide links to different relationships related functions.</dd>
  <dt><a href="{{url_for('add_title_subjects')}}">Add Title_Subjects Relationship</a></dt>
  <dd>Page for adding new relationships between Titles and Subjects.</dd>
  <dt><a href="{{url_for('add_title_creators')}}">Add Title_Creators Relationship</a></dt>
  <dd>Page for adding new relationships between Titles and Creators.</dd>
  <dt><a href="{{url_for('view_title_subjects')}}">Search Title_Subjects Relationships</a></dt>
  <dd>Page for manipulating relationships between Titles and Subjects. Allows users to search/edit/delete existing relationships.</dd>
  <dt><a href="{{url_for('view_title_creators')}}">Search Title_Creators Relationships</a></dt>
  <dd>Page for manipulating relationships between Titles and Creators. Allows users to search/edit/delete existing relationships.</dd>
</dl>
-->
