{% extends 'base.html' %}

{% block content %}
	<h1>Home page</h1>
	<h2>List of Pages</h2>
  <dl>
    <dt><a href="/borrowers">Borrowers Home</a></dt>
    <dd>Subpage to provide links to different Borrowers-related functions.</dd>
    <dd>
      <dl>
        <dt><a href="/borrowers/add_borrowers">Add Borrowers</a></dt>
        <dd>Page for manipulating the Borrowers table. Allows adding a new entry to Borrowers via a form.
        <dt><a href="/borrowers/add_borrowers">View/Modify Borrowers</a></dt>
        <dd>Allows displaying existing Borrowers in the system. The display of existing Borrowers can be searched/filtered by last_name, first_name, zip_code, and/or borrower_id. Displayed Borrowers can be updated or deleted.</dd>
        <dt><a href="{{url_for('view_checkouts')}}">View Borrower Checkouts</a></dt>
        <dd>Displays the items checked out by a Borrower. Can be filtered to show only overdue items</dd>
      </dl>
    </dd>
    <dl>
      <dt><a href="{{url_for('subjects')}}">Subjects Home</a></dt>
      <dd>Subpage to provide links to different Subjects-related functions.</dd>
      <dt><a href="{{url_for('add_subjects')}}">Add Subjects</a></dt>
      <dd>Page for manipulating the Subjects table. Allows adding a new entry to Subjects via a form.</dd>
      <dt><a href="{{url_for('view_subjects')}}">Sort by Subjects</a></dt>
      <dd>Allows user to see titles associated with each subject.</dd>
    </dl>
		<dt><a href="titles">Titles Home</a></dt>
    <dd>Subpage to provide links to different Titles-related functions.</dd>
    <dd>
      <dl>
        <dt><a href="{{url_for('add_titles')}}">Add Titles</a></dt>
        <dd>Page for adding new instances of Titles to the system
        <dt><a href="{{url_for('search_titles')}}">Search Titles</a></dt>
        <dd>Allows searching the contents of the system by title.</dd>
      </dl>
    </dd>
    <dt><a href="/items">Items Home</a></dt>
    <dd>Subpage to provide links to different Items-related functions.</dd>
    <dd>
      <dl>
        <dt><a href="{{url_for('checkout_item')}}">Checkouts</a></dt>
        <dd>Page for processing checkouts of Items to Borrowers and returns of Items to the library.
        <dt><a href="{{url_for('manage_item')}}">Collection Management</a></dt>
        <dd>Allows adding new Items to the library collection related to Titles in the system. Also allows removing Items from the library collection.</dd>
      </dl>
    </dd>
    <dl>
      <dt><a href="{{url_for('creators')}}">Creators Home</a></dt>
      <dd>Subpage to provide links to different Creators related functions.</dd>
      <dt><a href="{{url_for('add_creators')}}">Add Creators</a></dt>
      <dd>Page for manipulating the Creators table. Allows adding a new entry to Creators via a form.</dd>
      <dt><a href="{{url_for('view_creators')}}">Search Creators</a></dt>
      <dd>Allows user to search for Creators and see Titles associated with them.</dd>
    </dl>
		<!--
    <dl>
      <dt><a href="{{url_for('relationships')}}">Relationships Home</a></dt>
      <dd>Subpage to provide links to different relationships related functions.</dd>
      <dt><a href="{{url_for('add_title_subjects')}}">Add Title_Subjects Relationship</a></dt>
      <dd>Page for adding new relationships between Titles and Subjects.</dd>
      <dt><a href="{{url_for('add_title_creators')}}">Add Title_Creators Relationship</a></dt>
      <dd>Page for adding new relationships between Titles and Creators.</dd>
      <dt><a href="{{url_for('view_title_subjects')}}">Search Title_Subjects Relationships</a></dt>
      <dd>Page for manipulating relationships between Titles and Subjects. Allows users to search/edit/delete existing relationships.</dd>
      <dt><a href="{{url_for('view_title_creators')}}">Search Title_Creators Relationships</a></dt>
      <dd>Page for manipulating relationships between Titles and Creators. Allows users to search/edit/delete existing relationships.</dd>
    </dl>
		-->
  </dl>
{% endblock %}
