{% extends 'base.html' %}

{% block content %}
    <h1>Relationships</h1>
    <dl>
      <dt><a href="{{url_for('title_subjects')}}">Add Subjects</a></dt>
      <dd>Page for manipulating relationships between Titles and Subjects. Allows users to add new relationships and search/edit/delete existing relationships.</dd>
      <dt><a href="{{url_for('title_creators')}}">Sort by Subjects</a></dt>
      <dd>Page for manipulating relationships between Titles and Creatorss. Allows users to add new relationships and search/edit/delete existing relationships.</dd>
    </dl>
{% endblock %}