{% if results != () and results[0]['item_id'] is not none %}
{% for checkout in results %}
<tr>
  <td>{{checkout['title_text']}}</td>
  <td>{{checkout['item_id']}}</td>
  <td>{{checkout['due_date']}}</td>
  <td>
    <form action="{{url_for('return_item')}}" id="return_item_{{checkout['item_id']}}">
      <input type="hidden" value="{{checkout['item_id']}}" name="item_id">
      <input type="hidden" value="{{checkout['borrower_id']}}"  name="borrower_id">
      <input type="submit" value="Return">
    </form>
  </td>
</tr>
{% endfor %}
{% endif %}
