{% extends 'base.html' %}

{% block content %}
    <h1>Titles</h1>
    <dd>
      <dl>
        <dt><a href="{{url_for('add_titles')}}">Add Titles</a></dt>
        <dd>Page for adding new instances of Titles to the system
        <dt><a href="{{url_for('search_titles')}}">Search Titles</a></dt>
        <dd>Allows searching the contents of the system by title.</dd>
      </dl>
    </dd>
    <!--<p>
        same as subjects. could fall under books tab or we could implement all of the book related tables individually.
    </p>
    <ul>
        <li>INSERT functionality</li>
        <li>DELETE functionality</li>
        <li>links within each subject could lead users to items related to that title</li>
    </ul>-->
{% endblock %}
