{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      {% if current is none %}
      <h2>No Borrower Selected</h2>
      {% else %}
      <h2>Check Out items for:</h2>
      <h3>{{current['first_name']}} {{current['last_name']}}</h3>
      {% endif %}
    </div>
    <div class="col">
      <h2>Switch Borrower</h2>
      <form method="GET" action="{{url_for('add_checkouts')}}" id="form_switch_borrower">
        <fieldset>
          <legend>Select New Borrower</legend>
          <p>
            <select name="id">
              {% for borrower in borrowers %}
              <option value="{{borrower['borrower_id']}}" {{"selected" if borrower['borrower_id'] == current['borrower_id']}}>{{borrower['first_name']}} {{borrower['last_name']}}</option>
              {% endfor %}
            </select>
          <p>
            <input type="submit" id="addBorrower" value="Switch Borrower">
        </fieldset>
      </form>
    </div>
  </div>
</div>
<h2>Check Out items for {{current['first_name']}} {{current['last_name']}}<h2>

<p>Filter Item List based on any field:</p>
  <input class="form-control" id="myInput" type="text" placeholder="Search...">
<br>
<table class="table table-sm" style="font-size: x-small; caption-side: top">
  <caption>Search Results</caption>
  <thead>
    <tr>
      <th>Item Id</th>
      <th>Title</th>
      <th>Call Number</th>
      <th>Add Checkout</th>
    </tr>
  </thead>
  <tbody id="myTable">
    {% if current is not none and available_items %}
    {% for i in available_items %}
    <tr>
      <td>{{i['item_id']}}</td>
      <td>{{i['title_text']}}</td>
      <td>{{i['call_number']}} {{i['cutter_number']}}</td>
      <td>
        <form class="form_add_checkout">
          <input type="hidden" name="borrower_id" value="{{current['borrower_id']}}">
          <input type="hidden" name="item_id" value="{{i['item_id']}}">
          <input type="submit" id="{{i['item_id']}}_checkout" value="Add Checkout">
        </form>
      </td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>

<!-- Citation for the following function:
     Date: 2021-02-06
     Copied from /OR/ Adapted from /OR/ Based on:
     Source URL: https://www.w3schools.com/bootstrap/bootstrap_filters.asp -->
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<script>
  var thisPage='{{url_for["add_checkouts"]}}'
</script>
<script src="{{url_for('static', filename='add_checkouts.js')}}">
  var empty = [];
</script>
{% endblock %}
