{% extends 'base.html' %}

{% block content %}
{% set banner = 'Viewing Checkouts for Borrower' %}
{% include 'switch_borrower.html' %}
<h3>Results Display</h3>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Item Id</th>
      <th>Due Date</th>
    </tr>
  </thead>
  <tbody id="checkout_display_area">

  </tbody>
</table>
<!--json parsing from https://stackoverflow.com/questions/42499535/passing-a-json-object-from-flask-to-javascript-->
<script>
  var itemList = '{{ results|tojson }}';
  var thisPage = '{{url_for("view_checkouts")}}';
</script>
<script src="{{url_for('static', filename='view_checkouts.js')}}">
  var empty = [];
</script>
{% endblock %}
