{% extends 'base.html' %}

{% block content %}
<h1>Titles</h1>
  <!--<form method="GET" action="{{url_for('search_titles')}}">
    <p>
    <input type="radio" id="all" name="filterType" value="all">
    <label for="all">All Titles</label>
    <input type="radio" id="collection" name="filterType" value="collection" checked="checked">
    <label for="collection">In Collection</label>
    <input type="submit" name="filter" value="Filter">
  </form>-->
    <h2>Search By Title</h2>
    <form id="search_titles" method="GET" action="{{url_for('search_titles')}}">
      <fieldset>
        <legend>Search Parameters:</legend>
        <p>
          <label for="title_text">Title:</label>
          <input type="text" id="title_text" name="title_text">
          <input type="radio" id="t_exact" name="t_match_type" value="exact">
          <label for="t_exact">Exact Match</label>
          <input type="radio" id="t_partial" name="t_match_type" value="partial" checked="checked">
          <label for="t_partial">Partial Match</label>
        <p>
          <input type="radio" id="t_all" name="t_collection_type" value="all" checked="checked">
          <label for="t_all">All Titles</label>
          <input type="radio" id="t_in_collection" name="t_collection_type" value="in_collection">
          <label for="t_in_collection">In Collection</label>
          <input type="radio" id="t_on_shelf" name="t_collection_type" value="on_shelf">
          <label for="t_on_shelf">On Shelf</label>
        <p>
          <input type="submit" name="search" value="Search">
      </fieldset>
    </form>
<p>Filter within results based on any field:</p>
  <input class="form-control" id="myInput" type="text" placeholder="Search...">
<br>
<h2>Results Display</h2>
<table class="table table-bordered table-striped table-sm" style="font-size: x-small; caption-side: top" id="myTable">
  <caption>Search Results</caption>
  <thead>
    <tr>
      <th>Title</th>
      <th>Language</th>
      <th>Publication Year</th>
      <th>Checked Out</th>
      <th>On Shelf</th>
    </tr>
  </thead>
  <tbody>
    {% if titles is not none %}
    {% for title in titles %}
    <tr>
      <td>{{title['title_text']}}</td>
      <td>{{title['language']}}</td>
      <td>{{title['publication_year']}}</td>
      <td>{{title['num_checked_out']}}</td>
      <td>{{title['num_on_shelf']}}</td>
      <td>
        <form method="get" action="{{url_for('update_title')}}">
          <input type="hidden" value="{{title['title_id']}}" name="title_id">
          <input type="submit" name="update" value="View/Update Details">
        </form>
      </td>
      <td>
        <form method="get" action="{{url_for('add_item')}}">
          <input type="hidden" value="{{title['title_id']}}" name="title_id">
          <input type="submit" name="add_item" value="Add Copy to Collection">
        </form>
      </td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>

<!-- Citation for the following function:
     Date: 2021-02-06
     Copied from /OR/ Adapted from /OR/ Based on:
     Source URL: https://www.w3schools.com/bootstrap/bootstrap_filters.asp -->
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}
