{% extends 'base.html' %}

{% block content %}
<h1>Titles</h1>
    <!--<h2>Search By Title</h2>
    <form id="search_titles">
      <fieldset>
        <legend>New Title Information</legend>
        <p>
          <label for="title_text">Title:</label>
          <input type="text" id="title_text" name="title_text">
          <input type="radio" id="t_exact" name="t_match_type" value="exact">
          <label for="t_exact">Exact Match</label>
          <input type="radio" id="t_artial" name="t_match_type" value="partial" checked="checked">
          <label for="fPartial">Partial Match</label>
        <p>
          <input type="radio" id="t_all" name="t_collection_type" value="all">
          <label for="t_all">All Titles</label>
          <input type="radio" id="t_in_collection" name="t_collection_type" value="in_collection">
          <label for="t_in_collection">In Collection</label>
          <input type="radio" id="t_on_shelf" name="t_collection_type" value="on_shelf">
          <label for="t_on_shelf">On Shelf</label>
        <p>
          <input type="submit" id="search_titles" value="Search">
      </fieldset>
    </form>-->
<p>Filter Item List based on any field:</p>
  <input class="form-control" id="myInput" type="text" placeholder="Search...">
<br>
<h2>Results Display</h2>
<table class="table table-bordered table-striped table-sm" style="font-size: x-small; caption-side: top" id="myTable">
  <caption>Search Results</caption>
  <thead>
    <tr>
      <th>Title</th>
      <th>Language</th>
      <th>Publication Year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Three Body Problem</td>
      <td>Mandarin</td>
      <td>2017</td>
      <td>
        <form method="get" action="{{url_for('update_title')}}">
          <input type="hidden" value="1" id="1" name="id">
          <input type="submit" name="update" value="View/Update Details">
        </form>
      </td>
    </tr>
    <tr>
      <td>Three Body Problem</td>
      <td>English</td>
      <td>2018</td>
      <td>
        <form method="get" action="{{url_for('update_title')}}">
          <input type="hidden" value="1" id="1" name="id">
          <input type="submit" name="update" value="View/Update Details">
        </form>
      </td>
    </tr>
    <tr>
      <td>Lilith's Brood</td>
      <td>English</td>
      <td>1995</td>
      <td>
        <form method="get" action="{{url_for('update_title')}}">
          <input type="hidden" value="2" id="2" name="id">
          <input type="submit" name="update" value="View/Update Details">
        </form>
      </td>
    </tr>
    <tr>
      <td>Binti</td>
      <td>English</td>
      <td>2018</td>
      <td>
        <form method="get" action="{{url_for('update_title')}}">
          <input type="hidden" value="3" id="3" name="id">
          <input type="submit" name="update" value="View/Update Details">
        </form>
      </td>
    </tr>
    <tr>
      <td>The Amber Spyglass</td>
      <td>English</td>
      <td>2020</td>
      <td>
        <form method="get" action="{{url_for('update_title')}}">
          <input type="hidden" value="4" id="4" name="id">
          <input type="submit" name="update" value="View/Update Details">
        </form>
      </td>
    </tr>
  </tbody>
</table>

<!-- Citation for the following function:
     Date: 2021-02-06
     Copied from /OR/ Adapted from /OR/ Based on:
     Source URL: https://www.w3schools.com/bootstrap/bootstrap_filters.asp -->
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}
