{% extends 'base.html' %}

{% block content %}
<h1>Update Title Details:</h1>
<div class="container">
  <div class="row">
    <div class="col">
      {% if title_info is none %}
      <h2>No Title Selected</h2>
      {% else %}
      <h2>Updating Title:</h2>
      <h3 id="currentTitle">{{title_info['title_text']}}</h3>
      {% endif %}
    </div>
    <div class="col">
      <h2>Switch Title</h2>
      <form method="GET" action="{{url_for('update_title')}}" id="form_switch_title">
        <fieldset>
          <legend>Select New Title</legend>
          <p>
            <select name="title_id" id="select_title_id">
              {% for title in titles %}
              <option value="{{title['title_id']}}" id="optionTitle{{title['title_id']}}" {{"selected" if title['title_id'] == title_info['title_id']}}>
                {{title['title_text']}}
              </option>
              {% endfor %}
            </select>
          <p>
            <input type="submit" id="switchTitle" value="Switch Title">
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% if title_info is not none %}
<form id="updateTitleForm" action="{{url_for('update_title')}}">
  <fieldset>
    <legend>Title Information</legend>
    <input type="hidden" id="title_id" name="title_id" value="{{title_info['title_id']}}">
    <p>
      <label for="new_title">Title:</label>
      <input type="text" id="new_title" name="title_text" value="{{title_info['title_text']}}">
    <p>
      <label for="new_pub_year">Publication Year:</label>
      <input type="number" id="new_pub_year" name="publication_year" value="{{title_info['publication_year']}}">
    <p>
      <label for="new_edition">Edition:</label>
      <input type="text" id="new_edition" name="edition" value="{{title_info['edition']}}">
    <p>
      <label for="new_language">Language:</label>
      <input type="text" id="new_language" name="language" value="{{title_info['language']}}">
    <p>
      <label for="new_call_num">Call Number:</label>
      <input type="text" id="new_call_num" name="call_number" value="{{title_info['call_number']}}">
    <p>
      <input type="submit" id="updateTitle" value="Update Title">
  </fieldset>
</form>

<div class="container">
  <div class="row">
    <table class="col">
      <caption>Creators</caption>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </thead>
      <tbody id="currentCreators">
        {% for creator in title_creators %}
        <tr id="deleteCreatorRow_{{creator['creator_catalog_id']}}">
          <td>{{creator['first_name']}}</td>
          <td>{{creator['last_name']}}</td>
          <td>
            <form method="post" action="{{url_for('update_title')}}">
              <input type="hidden" name="creator_catalog_id" value="{{creator['creator_catalog_id']}}">
              <input type="hidden" name="title_id" value="{{creator['title_id']}}">
              <input type="submit" name="delete_creator" value="Remove Creator" class="removeCreatorButton">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <table class="col">
      <caption>Subjects</caption>
      <thead>
        <tr>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody id="currentSubjects">
        {% if subject is not none %}
        {% for subject in title_subjects %}
        <tr id="deleteSubjectRow_{{subject['subject_catalog_id']}}">
          <td>{{subject['subject_heading']}}</td>
          <td>
            <form method="post" action="{{url_for('update_title')}}">
              <input type="hidden" name="subject_catalog_id" value="{{subject['subject_catalog_id']}}">
              <input type="hidden" name="title_id" value="{{subject['title_id']}}">
              <input type="submit" name="delete_subject" value="Remove Subject" class="removeSubjectButton">
            </form>
          </td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col">
      <p>Filter Creator List:</p>
        <input class="form-control" id="creatorInput" type="text" placeholder="Search...">
      <br>
      <table class="table table-bordered table-striped table-sm" style="font-size: x-small; caption-side: top" id="creatorTable">
        <caption>Creators</caption>
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
        </thead>
        <tbody>
          {% for creator in creators %}
          <tr>
            <td>{{creator['first_name']}}</td>
            <td>{{creator['last_name']}}</td>
            <td>
              <form method="post" action="{{url_for('update_title')}}">
                <input type="hidden" name="creator_id" value="{{creator['creator_id']}}">
                <input type="hidden" name="title_id" value="{{title_info['title_id']}}">
                <input type="submit" name="add_creator" value="Add Creator" class="addCreatorButton">
              </form>
          </tr>
          {% endfor %}
      </table>
    </div>
    <div class="col">
      <p>Filter Subject List:</p>
        <input class="form-control" id="subjectInput" type="text" placeholder="Search...">
      <br>
      <table class="table table-bordered table-striped table-sm" style="font-size: x-small; caption-side: top" id="subjectTable">
        <caption>Subjects</caption>
        <thead>
          <tr>
            <th>Subject</th>
          </tr>
        </thead>
        <tbody>
          {% for subject in subjects %}
          <tr>
            <td>{{subject['subject_heading']}}</td>
            <td>
              <form method="post" action="{{url_for('update_title')}}">
                <input type="hidden" name="subject_id" value="{{subject_id}}">
                <input type="hidden" name="title_id" value="{{title_info['title_id']}}">
                <input type="submit" name="add_subject" value="Add Subject">
              </form>
          </tr>
          {% endfor %}
      </table>
    </div>
  </div>
</div>
<!-- Citation for the following function:
     Date: 2021-02-06
     Copied from /OR/ Adapted from /OR/ Based on:
     Source URL: https://www.w3schools.com/bootstrap/bootstrap_filters.asp -->
<script>
$(document).ready(function(){
  $("#creatorInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#creatorTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
$(document).ready(function(){
  $("#subjectInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#subjectTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endif %}
<!-- Citation for selectmenu:
Date 2021-02-28
Copied from
Source URL: https://jqueryui.com/selectmenu/-->
<script src="https://code.jquery.com/jquery-1.12.4.js">
  var thisPage = "{{url_for('update_title')}}";
</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js">
  var empty = [];
</script>
<script>
  $( function() {
    $( "#select_title_id" ).selectmenu();
  } );
</script>
<script src="{{url_for('static', filename='update_titles.js')}}">
  var empty = [];
</script>
{% endblock %}
